<div class="nested-fields col-sx-4">
  <div class="form-group">
    <%= f.number_field :hour, class: 'form-control', placeholder: 'hour' %>
  </div>

  <div class="form-group">
    <%= f.text_field :disruption_level, class: 'form-control', placeholder: 'disruption level' %>
  </div>

  <div class="form-group">
    <%= f.text_field :probability_of_occurence, class: 'form-control', placeholder: 'probability of occurence' %>
  </div>

  <div class="nested-panel-heading text-right">
    <%= link_to_remove_association "Remove hour", f, class: "form-button btn btn-danger-custom" %>
  </div>
</div>
