


<div class="row">
  <div class="col-sm-6">
    <h1>Weathers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_weather_path, class: 'btn btn-primary' do %>
    Add New Weather
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Weather Data</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @weathers.each do |weather| %>
        <%= content_tag :tr, id: dom_id(weather), class: dom_class(weather) do %>


                      <td><%= weather.weather_data %></td>


            <td><%= link_to 'Show', weather %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
