<div class="page-header">
  <%= link_to provinces_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Provinces
  <% end %>
  <%= link_to edit_province_path(@province), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show province</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @province.name %></dd>

</dl>
